* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav {
    background-image: linear-gradient(rgb(26, 76, 162), rgb(0, 151, 208));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

nav h2 {
    background: linear-gradient(to right, #1203dd 0%, #6a05e6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul {
    display: flex;
    width: 30%;
    justify-content: space-between;
    list-style: none;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    text-decoration: none;
    background: linear-gradient(#5d52f7 0%, #24014e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}

.banner {
    background-image: url(images/banner/banner3.png);
    height: 94vh;
    background-size: cover;
    background-position: center;
}

.banner .content {
    position: absolute;
    width: 40%;
    text-align: right;
    margin-top: 10%;
    margin-left: 50%;
}

.banner .content h1 {
    font-size: 65px;
    color: white;
}

.banner .content p {
    padding-left: 150px;
    line-height: 22px;
}

.banner .content button {
    padding: 10px 15px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: aqua;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
/* ==================== banner section end ================ */

.main {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0 150px;
}

/* ================= failures section start ================== */
.failures {
    display: flex;
    padding: 80px 0;
}

.failures img {
    width: 500px;
    height: 650px;
}

.failures .failures-content {
    color: white;
    padding-top: 200px;
    padding-left: 80px;
}

.failures .failures-content h1 {
    font-size: 40px;
    width: 250px;
    margin-bottom: 20px;
}

.failures .failures-content p {
    width: 400px;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 5px;
}

.failures .failures-content ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.failures .failures-content ul li img {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}
/* ============== failures section end ================ */


/* ====================== my-plans section start ============= */
.my-plans {
    color: white;
    padding-top: 20px;
    padding-bottom: 100px;
    text-align: center;

}

.my-plans .h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 25px;
    color: aqua;
}

.my-plans .plans {
    display: flex;
    justify-content: space-between;
}

.my-plans .plans h1 {
    margin: 5px 0;
}

.my-plans .plans .plans-one, .plans-two, .plans-three, .plans-four {
    /* background-color: #1203dd; */
    width: 255px;
    border: 1px solid rgba(0, 255, 255, 0.2);
    padding: 10px 0;
    box-shadow: rgba(4, 229, 245, 0.25) 0px 30px 60px -12px inset, rgba(7, 174, 240, 0.3) 0px 18px 36px -18px inset;
}
/* ================================ my-plans section end ================ */


/* =================================== posative section end =============== */
.posative {
    padding-top: 20px;
    padding-bottom: 100px;
}

.posative .posative-content {
    background-image: linear-gradient(to right, rgba(7, 201, 250, 0.6), rgba(157, 210, 245, .1)), url("images/watch.png");
    height: 200px;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.posative .posative-content h2 {
    padding: 60px 0 0 50px;
    width: 300px;
}

.posative .posative-content button {
    margin: 8px 0 0 50px;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    font-size: 15px;
    font-weight: bold;
    color: aqua;
}
/* ================================= posative section end ======================== */


/* ================================ form section start ======================== */
.form-section {
    margin-top: 50px;
    padding-bottom: 100px;
}

.form {
    background-image: url("images/banner/banner1.png");
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.form .form-content {
    width: 400px;
    position: absolute;
    margin-top: 55px;
    margin-left: 580px;
    text-align: center;
    border: 1px solid aqua;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(6, 23, 41, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
    padding: 50px 0;
}

.form .form-content h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.form .form-content input {
    width: 75%;
    background-color: rgba(0, 0, 0, .9);
    padding: 10px 15px;
    margin-bottom: 15px;
    font-weight: 500;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
}

.form .form-content button {
    margin-bottom: 10px;
    width: 200px;
    padding: 10px 20px;
    border: none;
    box-shadow: 2px 2px 10px gray;
    border-radius: 20px;    
    font-size: 16px;
    font-weight: 500;
    color: aqua;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
/* ======================= posative section end ====================== */


/* =============================== footer section start =============== */
footer{
    display: flex;
    justify-content: space-between;
    color: white;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 80px;
}
footer .future{
    width: 450px;
}
footer .future h1{
    margin-bottom: 10px;
}
footer .future p{
    margin-bottom: 10px;
}
footer .subscribe h1{
    margin-bottom: 10px;
}
footer .subscribe input{
    display: block;
    margin-bottom: 10px;
    padding: 10px 12px;
    border: 1px solid aqua;
    background-color: transparent;
    outline: none;
    border-radius: 10px;
}
footer .subscribe input:focus{
    box-shadow: 1px 1px 8px aqua;
}

footer .subscribe button{
    padding: 10px 20px;
    border-radius: 10px;
    color: aqua;
    background-color: transparent;
    border: 1px solid gray;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
/* ======================== footer section end ====================== */