* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav {
    /* background-color: rgb(26, 76, 162); */
    background-image: linear-gradient(rgb(26, 76, 162), rgb(0, 151, 208));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

nav h2 {
    background: linear-gradient(to right, #1203dd 0%, #6a05e6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul {
    display: flex;
    width: 30%;
    /* background-color: beige; */
    justify-content: space-between;
    list-style: none;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    text-decoration: none;
    background: linear-gradient(#5d52f7 0%, #24014e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}

.banner {
    background-image: url(images/banner/banner3.png);
    /* width: 100%; */
    height: 94vh;
    background-size: cover;
    background-position: center;
}

.banner .content {
    position: absolute;
    width: 40%;
    text-align: right;
    margin-top: 10%;
    margin-left: 50%;
}

.banner .content h1 {
    font-size: 65px;
    color: white;
}

.banner .content p {
    padding-left: 150px;
    /* font-size: 16px; */
    line-height: 22px;
}

.banner .content button {
    padding: 10px 15px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

/* ==== banner section end ==== */

.main {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0 150px;
}

/* ==== failures section start ==== */

.failures {
    display: flex;
    padding: 80px 0;
}

.failures img {
    width: 500px;
    height: 650px;
}

.failures .failures-content {
    color: white;
    /* background-color: #1203dd; */
    padding-top: 200px;
    padding-left: 80px;
}

.failures .failures-content h1 {
    font-size: 40px;
    width: 250px;
    margin-bottom: 20px;
}

.failures .failures-content p {
    width: 400px;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 5px;
}

.failures .failures-content ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.failures .failures-content ul li img {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

/* ==== failures section end ==== */


/* ==== my-plans section end ==== */

.my-plans {
    color: white;
    padding-top: 20px;
    padding-bottom: 100px;
    text-align: center;

}

.my-plans .h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 25px;
    color: aqua;
}

.my-plans .plans {
    display: flex;
    justify-content: space-between;
    /* background-color: #1203dd; */
}

.my-plans .plans h1 {
    margin: 5px 0;
}

.my-plans .plans .plans-one, .plans-two, .plans-three, .plans-four {
    /* background-color: #1203dd; */
    width: 255px;
    border: 1px solid rgba(0, 255, 255, 0.2);
    padding: 10px 0;
    box-shadow: rgba(4, 229, 245, 0.25) 0px 30px 60px -12px inset, rgba(7, 174, 240, 0.3) 0px 18px 36px -18px inset;
}



/* ==== my-plans section end ==== */


/* ==== posative section end ==== */
.posative {
    padding-top: 20px;
    padding-bottom: 100px;
}

.posative .posative-content {
    /* background-image:  linear-gradient(to right, #eb01a5, #d13531); */
    background-image: linear-gradient(to right, rgba(7, 201, 250, 0.6), rgba(157, 210, 245, .1)), url("/images/watch.png");
    height: 200px;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.posative .posative-content h2 {
    padding: 60px 0 0 50px;
    width: 300px;
}

.posative .posative-content button {
    margin: 8px 0 0 50px;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    font-size: 15px;
    font-weight: bold;
}



/* ==== posative section end ==== */


/* ==== form section start ==== */
.form-section {
    padding-bottom: 100px;
}

.form {
    background-image: url("images/banner/banner1.png");
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.form .form-content {
    background-color: #1203dd;
    width: 400px;

}

/* ==== posative section end ==== */